.landing {
    height: 100vh;
    width: 100vw;
    background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/potw2039a.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    color:rgb(239, 248, 232);
    text-shadow: 0 0 50px green;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    &__text-box {
        position: absolute;
        top: 18vh;
        height: 30vh;
        width: 40vw;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }  

    &__title {
        color:rgb(239, 248, 232);
        font-size: 20vh;
        margin-top: -21vh;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgba(0, 0, 0, 0.349);
    }
    
    &__authors {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgba(0, 0, 0, 0.349);
        width: 27vw;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        font-size: 3.5vh;
        font-weight: 500;
        text-align: center;
        margin-top: -19vh;
        margin-bottom: 19vh;;
        -webkit-text-stroke-width: 0.3px;
    }

    &__start-button {
        text-decoration:none;
        z-index: 1;
        width: 3vw;
        height: 3vw;
        border-radius: 50%;
        margin: 2vh;
        padding: 2vh;
        border:none;
        background-color: antiquewhite;
        color: rgb(143, 73, 64);
        font-size: 0.7em;
        box-shadow: 0 0 200px antiquewhite;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            box-shadow: 0 0 50px red;
            text-shadow: 0 0 20px 20px rgb(159, 131, 238);
            color: rgb(80, 11, 11);
        }
    }

    &__demos{
        // border:2px solid red;
        height: 50vh;
        width: 30vw;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
    }

    &__ship {
        height: 200px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__definition {
        position: absolute;
        color: antiquewhite;
        bottom: 20px;
        font-size: 2em;
        cursor: pointer;
        opacity: 0.6;
        -webkit-text-stroke-width: 0px;
    }

}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotating-2 {
    from{
        -webkit-transform: rotate(360deg);
    }
    to{
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes rotating-3 {
    from{
        -webkit-transform: rotate(90deg);
    }
    to{
        -webkit-transform: rotate(450deg);
    }
}

@-webkit-keyframes rotating-4 {
    from{
        -webkit-transform: rotate(450deg);
    }
    to{
        -webkit-transform: rotate(450deg);
    }
}


.rotating-1 {
        margin-bottom: 5vh;
        position: absolute;
        width: 50px;
        height: 50px;
        border: 1px solid red;
        -webkit-animation: rotating 4s linear infinite;
}

.rotating-2 {
        margin-bottom: 5vh;
        position: absolute;
        transform: rotate(45deg);
        width: 50px;
        height: 50px;
        border: 1px solid red;
        -webkit-animation: rotating-2 4s linear infinite;
}
    
.rotating-3 {
        margin-bottom: 5vh;
        position: absolute;
        width:50px;
        height:50px;
        border: 1px solid red;
        // -webkit-animation: rotating-3 4s linear infinite;
}

.rotating-4 {
        margin-bottom: 5vh;
        position: absolute;
        transform: rotate(45deg);
        width:50px;
        height:50px;
        border: 1px solid red;
        // -webkit-animation: rotating-4 4s linear infinite;
}
