body {
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(126, 126, 126, 0.2);
  border-radius: 10px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
  background-color: red;
}

::-webkit-scrollbar-thumb:active {
  background: #aaaaaa;
  background-color: red;
}

::-webkit-scrollbar-track {
  background: rgba(75, 75, 75, 0.582);
}

.museum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.museum__background {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  margin: 0 auto;
  height: 100vw;
  width: 80vw;
  background-image: url("https://www.esa.int/var/esa/storage/images/esa_multimedia/videos/2017/04/the_motion_of_two_million_stars/16900235-1-eng-GB/The_motion_of_two_million_stars_pillars.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.museum__strip-background {
  height: 100vh;
  width: 80vw;
  background-image: url("http://cdn.mos.cms.futurecdn.net/VdW4TCfoctFYDSXNSnkoAf.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  margin: 0 auto;
}

.museum__torch {
  position: absolute;
  border: 20px solid black;
  color: #000;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  overflow: hidden;
}

.museum__torch .torch__image {
  position: absolute;
  top: -100px;
  left: -50px;
  background-image: url("https://cflvdg.avoz.es/sc/980x//default/2015/02/12/00121423764927311777512/Foto/wally.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.museum__strip01 {
  height: 300px;
  width: 80vw;
  margin: 3vh auto;
  background-color: #4090FF;
  border: 2px solid #000;
  overflow: hidden;
}

.museum__strip01:nth-child(3) {
  background-color: #000;
  background-image: url("https://cflvdg.avoz.es/sc/980x//default/2015/02/12/00121423764927311777512/Foto/wally.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0.2;
}

.museum__strip01:nth-child(5) {
  background-color: #000;
  overflow: hidden;
}

.museum__strip01:nth-child(5):hover .astronaut {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.museum__strip01:nth-child(5):hover .sky {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.museum__strip01:nth-child(5):hover .text:last-of-type {
  opacity: 1;
}

.museum__strip01:nth-child(5):hover .text:first-of-type {
  opacity: 0;
}

.museum__strip01:nth-child(5) .astronaut {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 360vh;
  left: 200px;
  z-index: 1;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-animation: mymove infinite;
          animation: mymove infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@-webkit-keyframes mymove {
  0% {
    top: 360vh;
  }
  50% {
    top: 363vh;
  }
  100% {
    top: 360vh;
  }
}

@keyframes mymove {
  0% {
    top: 360vh;
  }
  50% {
    top: 363vh;
  }
  100% {
    top: 360vh;
  }
}

.museum__strip01:nth-child(5) .sky {
  height: auto;
  width: auto;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.museum__strip01:nth-child(5) .text {
  height: 60px;
  width: 120px;
  border-radius: 50%;
  background: whitesmoke;
  border: 4px solid #000;
  position: absolute;
  top: 377vh;
  left: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  padding: 5px;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.museum__strip01:nth-child(5) .text:first-of-type {
  opacity: 1;
  top: 356vh;
  left: 500px;
  height: 30px;
}
/*# sourceMappingURL=style.css.map */