html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: black;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(126, 126, 126, 0.2);
  border-radius: 10px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
  background-color: red;
}

::-webkit-scrollbar-thumb:active {
  background: #aaaaaa;
  background-color: red;
}

::-webkit-scrollbar-track {
  background: rgba(75, 75, 75, 0.582);
}

.museum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.museum__background-estelar {
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
  margin: 0 auto;
  height: 100vw;
  width: 80vw;
  background-image: url("https://www.esa.int/var/esa/storage/images/esa_multimedia/videos/2017/04/the_motion_of_two_million_stars/16900235-1-eng-GB/The_motion_of_two_million_stars_pillars.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.museum__background-earth {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  height: 100vh;
  width: 80vw;
  background-image: url("http://cdn.mos.cms.futurecdn.net/VdW4TCfoctFYDSXNSnkoAf.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%) brightness(60%);
          filter: grayscale(100%) brightness(60%);
  margin: 0 auto;
}

.museum__torch {
  position: absolute;
  width: 10vw;
  height: 10vw;
  background-image: url("https://i.pinimg.com/originals/a0/26/1b/a0261b885cfba5a65c675c33327acf5a.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.museum .strip {
  height: 300px;
  width: 80vw;
  margin: 3vh auto;
  background-color: #4090FF;
  overflow: hidden;
}

.museum__lantern {
  background-color: #000;
  opacity: 0;
  cursor: none;
  padding: 5vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.museum__blur {
  position: relative;
  height: 300px;
  width: 80vw;
}

.museum__blur:hover .astronaut {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.museum__blur:hover .sky {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.museum__blur:hover .text:last-of-type {
  opacity: 1;
}

.museum__blur:hover .text:first-of-type {
  opacity: 0;
}

.museum__blur .astronaut {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 1;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-animation: mymove infinite;
          animation: mymove infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@-webkit-keyframes mymove {
  0% {
    top: 10vh;
  }
  50% {
    top: 13vh;
  }
  100% {
    top: 10vh;
  }
}

@keyframes mymove {
  0% {
    top: 10vh;
  }
  50% {
    top: 13vh;
  }
  100% {
    top: 10vh;
  }
}

.museum__blur .sky {
  height: auto;
  width: 80vw;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  background-size: cover;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.museum__blur .text {
  height: 60px;
  width: 120px;
  border-radius: 50%;
  background: whitesmoke;
  border: 4px solid #000;
  position: absolute;
  top: 14vh;
  left: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  padding: 5px;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.museum__blur .text:first-of-type {
  opacity: 1;
  top: 7vh;
  left: 320px;
  height: 30px;
}

.museum__cinetic {
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 80vw;
  margin: 3vh auto;
  overflow: hidden;
  z-index: 3;
}

.museum__cinetic .cinetic__cinetic-lines {
  height: 80vh;
  width: 100vw;
  background-position: center;
  background-position: cover;
  margin: -20vh 0;
  z-index: 1;
}

.museum__cinetic .cinetic__cinetic-lines:hover {
  -webkit-animation: cinetic-move infinite;
          animation: cinetic-move infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes cinetic-move {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  49.9% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes cinetic-move {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  49.9% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

.museum__cinetic .cinetic__astronaut {
  max-height: 30vh;
  width: auto;
  position: absolute;
  margin-top: 6vh;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  z-index: 2;
}

.museum__tooltip {
  height: 600px;
  width: 80vw;
  margin: 3vh auto;
  background-image: url("https://static.timesofisrael.com/www/uploads/2018/09/Apollo_11-640x400.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
}

.museum__true-lantern {
  height: 600px;
  width: 80vw;
  margin: 3vh auto;
  position: relative;
  background: #1d1f20;
  padding: 20rem;
  text-align: center;
}

.museum__true-lantern .lantern {
  z-index: 5;
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 20rem;
  height: 20rem;
  background: url("https://3.bp.blogspot.com/-cRsGipHaibA/WeN9INVqkQI/AAAAAAAC2Y4/qjBpDSYCTZA7tCpG8nDlV1Mx7Qcul_1igCLcBGAs/s1600/german-u-boat-1.jpg") 50% 50% no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
}

.info-bar {
  height: 100vh;
  width: 30vw;
  background-color: rgba(5, 5, 150, 0.5);
  border-left: 2px solid red;
  position: fixed;
  right: -30vw;
  top: 0px;
  z-index: 10;
}

.info-bar__button {
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 11;
  height: 40px;
  width: 40px;
  cursor: pointer;
  font-size: 2em;
}

.info-bar__button .burger-line {
  background-color: red;
  height: 5px;
  width: 35px;
  border-radius: 5px;
  margin: 3px 0;
  position: absolute;
  right: 5px;
}

.info-bar__button .burger-line:nth-child(2) {
  top: 10px;
}

.info-bar__button .burger-line:nth-child(3) {
  top: 20px;
}

span {
  color: red;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(255, 0, 0, 0.5);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */