@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin speech-bubble($height, $width, $top, $left) {
    height: $height;
    width: $width;
    position: absolute;
    top: $top;
    left: $left;
    color: #000;
    // background-color: #FFF;
    text-align: center;
}

body {
    @include flex(column, center, center);
    // color:#000;
    position:absolute;
    top:0;left:0;
    background-color: black;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
        
    &-thumb {
        // display: none;
        background: rgba(126, 126, 126, 0.2);
        border-radius: 10px;
        transition-duration: 1s;
        
        &:hover { 
            // display: block;
            background: rgb(170, 170, 170);
            background-color: red;
        }
        
        &:active {
            // display: block;
            background: rgb(170, 170, 170);
            background-color: red;
        }
    }
    
    &-track {
        background: rgba(75, 75, 75, 0.582);
        // background: transparent;
    }
}

.museum {
    @include flex(column, center, center);
    width:80%;
    
    &__background {
        filter: brightness(130%);
        margin: 0 auto;
        height: 100vw;
        width:80vw;
        background-image: url("https://www.esa.int/var/esa/storage/images/esa_multimedia/videos/2017/04/the_motion_of_two_million_stars/16900235-1-eng-GB/The_motion_of_two_million_stars_pillars.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(180deg);
        // background-image:  linear-gradient(to bottom, #000, #000 7vh,transparent 25vh);
    }
    
    &__strip-background {
        transform: rotate(180deg);
        height: 100vh;
        width: 80vw;
        background-image: url("http://cdn.mos.cms.futurecdn.net/VdW4TCfoctFYDSXNSnkoAf.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(100%) brightness(60%);
        margin: 0 auto;
    }

    &__torch {
        position: absolute;
        width: 10vw;
        height: 10vw;
        background-image: url("https://i.pinimg.com/originals/a0/26/1b/a0261b885cfba5a65c675c33327acf5a.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transform: rotate(25deg);
                
        // border:none;
        // border-radius: 50%;
        // color: #000;
        // overflow: hidden;
        // .torch {
        //     &__image {
        //         position: absolute;
        //         top: -100px;
        //         left: -50px;
        //         // background-image: url("https://cflvdg.avoz.es/sc/980x//default/2015/02/12/00121423764927311777512/Foto/wally.jpg");
        //     }
        // position: absolute;
        // width: 162px;
        // height: 162px;
        // border: 2px solid #000;
        // background: #FFF;
        // border-radius: 50%;
        // box-shadow: 0px 0px 60px 5px #000 inset ;


    }
    
    .strip {
        height:300px;
        width:80vw;
        margin: 3vh auto;
        background-color: #4090FF;
        // border: 2px solid #000;
        overflow: hidden;
    }
    
    &__lantern {
        background-color: #000;
        // background-image: url("https://cflvdg.avoz.es/sc/980x//default/2015/02/12/00121423764927311777512/Foto/wally.jpg");
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: 100%;
        opacity: 0;    
        cursor: none;
        padding: 5vh 0;
        @include flex(row, center, center);
    }

    &__blur {
        // background-color: #000;
        position: relative;
        height:300px;
        width:80vw;
        // overflow: hidden;
        // border: none;
        // border: 2px solid #000;
        
        &:hover {
            .astronaut {filter: blur(4px)}
            
            .sky {filter:blur(0px);}
            
            .text:last-of-type {
                opacity:1;
            }
            .text:first-of-type {
                opacity:0;
            }
        }
        
        .astronaut {
            height: 200px;
            width: 200px;
            position: absolute;
            top: 0;
            left: 50px;
            z-index: 1; 
            transform: rotateY(180deg);
            animation: mymove infinite;
            animation-duration: 3s;
            transition-timing-function: ease-in;
            animation-fill-mode: forwards;
            transition: 0.4s;
            
        }
        
        @keyframes mymove {
            0% {top: 10vh}
            50% {top: 13vh}    
            100% {top: 10vh}    
        }
        
        .sky {
            height: auto;
            width: 80vw;
            filter: blur(2px);
            background-size: cover;
            transition: 0.4s;
        }
        
        .text {
            height: 60px;
            width: 120px;
            border-radius: 50%;
            background: whitesmoke;
            border:4px solid #000;
            position: absolute;
            top: 14vh;
            left: 820px;
            @include flex(column, center, center);
            opacity:0;
            padding:5px;
            text-align: center;
            transition: 0.4s;
            
            &:first-of-type {
                opacity:1;
                top: 7vh;
                left: 320px;
                height: 30px;
            }
        }
    }
    
    &__cinetic {
        background-color: red;
        @include flex(row, center, center);
        height:300px;
        width:80vw;
        margin: 3vh auto;
        overflow: hidden;
        z-index: 3;
        
        .cinetic {
            &__cinetic-lines {
                height: 80vh;
                width: 100vw;
                background-position: center;
                background-position: cover;
                margin: -20vh 0;
                z-index:1;

                &:hover {
                animation: cinetic-move infinite;
                animation-duration: 1s;
                } 
            }
            @keyframes cinetic-move {
                0% {transform: rotateY(0deg);}
                49.9% {transform: rotateY(0deg);}
                50% {transform: rotateY(180deg);}
                100% {transform: rotateY(180deg);}
            }
            
            &__astronaut {
                max-height:30vh;
                width:auto;
                position: absolute;
                margin-top: 6vh;
                filter: grayscale(100%);
                z-index: 2;
            }
        }
    }

    &__tooltip {
        height: 600px;
        width: 80vw;
        margin: 3vh auto;
        // overflow: hidden;
        background-image: url("https://static.timesofisrael.com/www/uploads/2018/09/Apollo_11-640x400.jpg") center no-repeat cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.info-bar {
    height: 100vh;
    width: 30vw;
    background-color: rgba(5, 5, 150, 0.5);
    border-left: 2px solid red; 
    position: fixed;
    right: -30vw;
    top: 0px;
    z-index: 10;
    
    &__button {
        position: fixed;
        right: 0px;
        top: 0px;
        z-index: 11;
        height: 40px;
        width: 40px;
        // background-color: black;
        cursor: pointer;
        // @include flex (column, flex-start, center);
    
        .burger-line {
           background-color:red;
           height: 5px;
           width: 35px;
           border-radius: 5px;
           margin: 3px 0;
           position:absolute;
           right: 5px;

           &:nth-child(2) {
               top: 10px
            }
           &:nth-child(3) {
               top: 20px
            }
        }
    }
}

