body {
    color:yellow;
    position:absolute;
    top:0;left:0;
    // background-color: red;
    // height:100vh;
    // width:100vw;
    // overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow-x: hidden;
    // background: linear-gradient(#000, #000 20%, transparent 20%);
}

::-webkit-scrollbar {
    width: 10px;
    
    // display:flex;
    
    &-thumb {
        // display: none;
        background: rgba(126, 126, 126, 0.2);
        border-radius: 10px;
        transition-duration: 1s;


        
        &:hover { 
        // display: block;
        background: rgb(170, 170, 170);
        background-color: red;
    }
        
        &:active {
            // display: block;
            background: rgb(170, 170, 170);
            background-color: red;
        }
    }

    
    &-track {
        background: rgba(75, 75, 75, 0.582);
        // background: transparent;
    }
}
// ::-webkit-scrollbar-thumb {
//     // display: none;
//     // width: 200px;
//     // height: 100vh;
// }


.museum {
    // position: absolute;
    // top: 0;
    // left: 50%;
    // transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:80%;

    
    // background-image: url("http://cdn.mos.cms.futurecdn.net/VdW4TCfoctFYDSXNSnkoAf.jpg");
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    
    &__background {
        // transform: rotate(90deg);
        margin: 0 auto;
        // position: absolute;
        height: 100vw;
        width:80vw;
        background-image: url("https://www.esa.int/var/esa/storage/images/esa_multimedia/videos/2017/04/the_motion_of_two_million_stars/16900235-1-eng-GB/The_motion_of_two_million_stars_pillars.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // background-image:  linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));

    }

    &__strip-background {
        height: 100vh;
        width: 80vw;
        // margin: 0 auto;
        // position: absolute;
        background-image: url("http://cdn.mos.cms.futurecdn.net/VdW4TCfoctFYDSXNSnkoAf.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(100%);
        margin: 0 auto;
    }
    
    &__torch {
        position: absolute;
        border:20px solid black;
        color: yellow;
        // background: url("https://cflvdg.avoz.e s/sc/980x//default/2015/02/12/00121423764927311777512/Foto/wally.jpg");
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        display: none;
        overflow: hidden;
        // z-index:-1;

        .torch {
            &__image {
                position: absolute;
                top: 0;
                left: 0;
                background-image: url("https://cflvdg.avoz.es/sc/980x//default/2015/02/12/00121423764927311777512/Foto/wally.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
            }
        }
    }

    &__strip01 {
        height:300px;
        width:80vw;
        margin: 3vh auto;
        // border: 0.5vh solid #000;
        background-color: #4090FF;
        // opacity:0.5;
        border: 2px solid #000;
    }

    &__strip01:nth-child(3) {
        // background-color: #000;
        background-image: url("https://cflvdg.avoz.es/sc/980x//default/2015/02/12/00121423764927311777512/Foto/wally.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        opacity: 0.2;    
    }
}
